<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <!-- Зеркало для ускорения загрузки зависимостей -->
        <mirror>
            <id>central-fast</id>
            <mirrorOf>central</mirrorOf>
            <url>https://repo1.maven.org/maven2</url>
        </mirror>
    </mirrors>

    <activeProfiles>
        <activeProfile>nexus-download</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>nexus-download</id>
            <repositories>
                <repository>
                    <id>nexus-maven-central</id>
                    <url>https://nexus.dada-tuda.ru/repository/maven-central/</url>
                </repository>
                <repository>
                    <id>nexus-maven-releases</id>
                    <url>https://nexus.dada-tuda.ru/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>nexus-maven-snapshots</id>
                    <url>https://nexus.dada-tuda.ru/repository/maven-snapshots/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-maven-releases</id>
                    <url>https://nexus.dada-tuda.ru/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>nexus-maven-snapshots</id>
                    <url>https://nexus.dada-tuda.ru/repository/maven-snapshots/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>nexus-maven-central</id>
            <username>developer</username>
            <password>ci/cd</password>
        </server>
        <server>
            <id>nexus-maven-releases</id>
            <username>developer</username>
            <password>ci/cd</password>
        </server>
        <server>
            <id>nexus-maven-snapshots</id>
            <username>developer</username>
            <password>ci/cd</password>
        </server>
    </servers>
</settings>